:root {
  --header-color: #212121;
  --hero-color: #ffffff;
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --background-color: #e5e5e5;
  --beckground-btn-color: #f5f4fa;
  --background-footer-color: #2f303a;
}
