.team-title {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
  color: var(--primary-title-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  background: var(--hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-item-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-pre-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-title-color);
  padding-bottom: 10px;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.team {
  background: var(--beckground-btn-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.social-icon {
  fill: #afb1b8;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .social-link:hover &,
  .social-link:focus & {
    fill: #ffffff;
  }
}
