.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.modal-form-field {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 28px;
}

.license-link {
  color: var(--accent-color);
}

.modal-form-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
  cursor: pointer;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: -8px;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 1px solid #212121;
    cursor: pointer;
    border-radius: 2px;
  }

  .modal-form-checkbox:checked + &::before {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url("../images/check.svg");
    background-size: contain;
    background-origin: border-box;
  }

  .modal-form-checkbox:focus + &::before {
    outline: 2px solid #212121;
  }
}

.modal-form-button {
  width: 200px;
  height: 50px;
  margin: auto;
  color: var(--hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
